body{
	padding: 0;
	margin: 0;
	min-width: 100vw;
	min-height: 100vh;
	width: 400vw;
	height: 400vh;
	cursor: all-scroll;
	overflow: 

}
body::-webkit-scrollbar {
  display: none;
}

button{
  background-color: transparent;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

form{
	bottom: 5vh;
	right: 10vw;
	position: fixed;
	z-index: 1;
}

label{
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	font-size: 1.4vw;
	color: black; 

}

input{
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 1.4vw;
	color: black; 
	background-color: transparent;

}


#add{
	font-size: 5vw;
	bottom: 5vh;
	right: 3vw;
	position: fixed;
	z-index: 1;
}

#minus{
	font-size: 5vw;
	top: 42vw;
	right: 10vw;
	position: fixed;
}


.tag{
/*	width: 12vw;
	height: 6vw;
	background-color: #afffff;*/
/*	border: 1px solid #aaaaaa;*/
/*	border-radius: 8px;
	margin: .2vw;*/
/*	position: relative;
*//*  	padding: 0.5em 1em;
  	margin: 1.5em;
  	border-radius: .5vw;*/
  	overflow: hidden;
  	float: left;
}

/*.item{
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	font-size: 1.4vw;
	color: black; 
	position: absolute;
	top: 1vw;
	left: 1vw;
}

.price{
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	font-size: 1.8vw;
	color: black; 
	position: absolute;
	top: 4.2vw;
	right: 1vw;
}
*/

.style_1{
font-family: 'Merriweather', serif;
	width: 12vw;
/*	height: 8vw;*/
	font-size: 3vw;
	line-height: 3.5vw;
	background-color: #0000ff;
	color: #ffff00;
	position: relative;
  padding: 1em;
  margin: .5em;
/*  border: .8vw double #ffffff;*/
  border-radius: 30%;
  overflow: hidden;
  transform: rotate(15deg);
  text-align: center;  
  overflow-wrap: break-word;

}

.style_2{
font-family: 'Rubik Mono One', sans-serif;
	width: 10vw;
	height: 10vw;
	font-size: 2.5vw;
	line-height: 3vw;
	background-color: #FF8532;
	color: #009F57;
	position: relative;
  padding: 1em;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(350deg);
  text-align: center;  
  align-content: center;
  overflow-wrap: break-word;

}

.style_3{
font-family: 'Arvo', serif;
	width: 15vw;
	height: 6vw;
	font-size: 2.5vw;
	line-height: 3vw;
	background-color: #ff0000;
	color: #ffffff;
	position: relative;
  padding: 1em;
  margin: .5em;
  border: .3vw double #ffffff;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(5deg);
  text-align: center;  
  overflow-wrap: break-word;

}


.tag.is-pointer-down {
  	box-shadow: -.8vw .8vw rgba(163, 163, 163, 0.5);

}


















/*.tag:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  width: 0;
  border-width: 0vw;
  border-color: transparent transparent  transparent transparent;
  border-radius: 0 ;
  transition: border-width .3s;
  display: block;
}


.tag:hover:before {
  border-width: .8vw;
    border-color: #fff #fff transparent transparent;
    border-radius: 0;
    transition: 0;
}

*/





