body{
	padding: 0;
	margin: 0;
	min-width: 400vw;
	min-height: 400vh;
	cursor: all-scroll;

}

body::-webkit-scrollbar {
  display: none;
}

button{
  background-color: transparent;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

form{
	bottom: 3vh;
	right: 8vw;
	position: fixed;
	z-index: 1;
}

label{
	font-family: 'Source Code Pro', monospace;
	font-weight: 500;
	font-size: 2vw;
	color: black; 
	border: transparent;

}

input{
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
	font-size: 2vw;
	color: black; 
	background-color: transparent;
	width: 15vw;
	border: .1vw solid black;
	margin-bottom: 1vw;

}

.load{
	font-family: 'Source Code Pro', monospace;
	font-weight: 500;
	font-size: 3vw;
	line-height: 3vw;
	color: black; 
	background-color: transparent;
	width: 20vw;	
	height: 10vw;
	left: 1vw;
	top: 0vw;
	position: fixed;
	padding: 2vw;
	z-index: 1;
}


#add{
	font-size: 5.2vw;
	bottom: 2.4vh;
	right: 2vw;
	position: fixed;
	z-index: 1;
}

.tag{
  	overflow: hidden;
  	float: left;
}

.style_1{
	font-family: 'Merriweather', serif;
	width: 12vw;
	font-size: 3vw;
	line-height: 3.5vw;
	background-color: #0000ff;
	color: #FDE000;
	position: relative;
 	padding: 1em;
 	margin: .5em;
 	border-radius: 30%;
 	overflow: hidden;
 	transform: rotate(10deg);
 	text-align: center;  
  	overflow-wrap: break-word;

}

.style_2{
	font-family: 'Rubik Mono One', sans-serif;
	width: 12vw;
	height: 12vw;
	font-size: 3vw;
	line-height: 3.5vw;
	background-color: #FF8532;
	color: #002bc4;
	position: relative;
  	padding: 2.5em 1em 1em 1em;
  	margin-top: 1em;
  	border-radius: 50%;
  	overflow: hidden;
  	transform: rotate(350deg);
  	text-align: center;  
  	overflow-wrap: break-word;

}

.style_3{
	font-family: 'Gentium Book Basic', serif;
	width: 15vw;
	font-size: 3.5vw;
	line-height: 4vw;
	background-color: #FF8532;
	color: #ffffff;
	position: relative;
  	padding: 1em;
 	margin: .5em;
  	border: 1vw double #ffffff;
 	border-radius: 50%;
  	overflow: hidden;
  	transform: rotate(5deg);
  	text-align: center;  
  	overflow-wrap: break-word;

}

.style_4{
	font-family: 'Source Code Pro', monospace;
	width: 12vw;
	height: 6vw;
	font-size: 2vw;
	line-height: 2.5vw;
	background-color: #ffff00;
	color: #000000;
	position: relative;
  	padding: 2em 1em 0em 1em;
  	margin-top: 1em;
  	border-radius: 2%;
  	overflow: hidden;
  	transform: rotate(355deg);
  	text-align: center;  
  	overflow-wrap: break-word;
}


.tag.is-pointer-down {
  	box-shadow: -.8vw 1vw rgba(163, 163, 163, 0.5);

}

@media only screen and (max-width: 600px) {

	form{
		bottom: 3vh;
		right: 15vw;
		position: fixed;
		z-index: 1;
	}


	label{
		font-size: 5vw;
	}

	input{
		font-size: 5vw;
		width: 30vw;
		border: .1vw solid black;
		margin-bottom: 1vw;

	}

  	#add{
  		font-size: 14vw;
  		bottom: 1vh;
  	}

  	.load{
		font-size: 5vw;
		left: 2vw;
		top: 1vw;
		width: 40vw;
	}

  
}









